# External
services:
  # dozzle:
  #   container_name: dozzle
  #   image: amir20/dozzle:v5.0.8
  #   restart: unless-stopped
  #   networks:
  #     - default
  #   ports:
  #     - "5100:8080"
  #   environment:
  #     - DOZZLE_LEVEL=info
  #     - DOZZLE_TAILSIZE=300
  #     - DOZZLE_FILTER="status=running"
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock

  # Databases
  
  # clickhouse:
  #   image: clickhouse/clickhouse-server:24.6
  #   restart: always
  #   depends_on:
  #     kafka:
  #       condition: service_healthy
  #   # Если нужно установить уровень логирования warning:
  #   #    volumes:
  #   #      - ./config/clickhouse_config.xml:/etc/clickhouse-server/config.d/local_config.xml
  #   ports:
  #     - "8123:8123"
  #     - "9000:9000"
  #   healthcheck:
  #     test: wget --no-verbose --tries=1 --spider http://localhost:8123/ping || exit 1
  #     interval: 7s
  #     timeout: 7s
  #     retries: 5
  #   env_file:
  #     - env/clickhouse.env

  # clickhouse-migrations:
  #   image: dreg.intellectika.ru/smarttwin/clickhouse-cli:1.37.4
  #   depends_on:
  #     clickhouse:
  #       condition: service_healthy
  #   env_file:
  #     - env/kafka-broker.env
  #     - env/clickhouse.env
  #     - env/clickhouse-migrations.env
  #   volumes:
  #     - ../../Artifact/CHSql:/app/clickhouse/migrations

  # postgres:
  #   image: postgis/postgis:13-3.3
  #   ports:
  #     - 5444:5432
  #   env_file:
  #     - env/postgres.env
  #   healthcheck:
  #     test: pg_isready -U postgres
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5

  
  postgres:
    image: postgres:15
    container_name: postgres
    env_file:
      - env/postgres.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    container_name: moorinet-redis
    image: redis:7.0-alpine
    restart: always
    ports:
      - "6379:6379"
    command: redis-server
    expose:
      - 6379

  kafka:
    image: ghcr.io/yagudinaleksandr/kafka:3.5
    container_name: kafka
    env_file:
      - env/kafka.env
    ports:
      - "9092:9092"
    healthcheck:
      test: ["CMD-SHELL", "kafka-broker-api-versions.sh --bootstrap-server localhost:9092"]
      interval: 10s
      timeout: 5s
      retries: 15

  kafka-ui:
    image: ghcr.io/yagudinaleksandr/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      kafka:
        condition: service_healthy

  # Сервисы
  orgusersservice:
    image: digittwinorgusersserviceapi:latest
    container_name: dtorgusers
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
    environment:
      - ASPNETCORE_URLS=http://+:5131
    env_file:
      - env/orgusersservice.env
    ports:
      - "5131:5131"
      - "7260:7260"

volumes:
  postgres_data: